.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: green;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, .55);
  padding-right: 0;
  padding-left: 0;
  line-height: var(--bs-body-line-height);
}


/* these last two make the logout button in
  the nav bar look like another link */
/* border: nonse;
  cursor: pointer;
  outline: 0; */


.navLink:hover {
  background-color: #99a0a0;
}

.navbar-brand:hover {
  font-size: 1.75rem;
  font-weight: 400px;

}

.bg-dark {
  background-color: black;
}

/* .navbar-dark {
  color: black
} */

nav.logOutBtn {
 color: white;
 background-color: black;
}
